#body{
    background-color: gray;
    background-image: url(https://plus.unsplash.com/premium_photo-1676422355992-703feab0d80d?q=80&w=1390&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.Calculator {
    width: 300px;
    margin: 100px auto;
    border: 1px solid #f50909;
    border-radius: 5px;
    padding: 10px;
}

#display {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

.Buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 15px;
    font-size: 20px;
    border: none;
    background-color: #000000;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #4b4a4a;
}
h1{
    text-align: center;
    
}
